version: '3'

services:
  app:
    build: .
    network_mode: "host"
    environment: 
      - BUILDKITE_BUILD_CHECKOUT_PATH=.
      - BUILDKITE_BUILD_ID=${BUILDKITE_BUILD_ID}
      - BUILDKITE_PIPELINE_NAME=${BUILDKITE_PIPELINE_NAME}
      - BUILDKITE_LABEL=${BUILDKITE_LABEL}
      - BUILDKITE_BRANCH=${BUILDKITE_BRANCH}
      - BUILDKITE_COMMIT=${BUILDKITE_COMMIT}
      - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
      - BUILDKITE=${BUILDKITE}
    entrypoint:
      - /app/entrypoint.sh