body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#query-form {
  border: 1px solid #ddd;
  padding: 10px;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
  font-size: 13px;
  border: 0;
  padding: 16px;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 0 0 0 #fff;
  word-break: normal;
  word-wrap: normal;
}

pre code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
}

canvas {
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

.action-focus.focus {
  border: 5px solid orange;
}

.action-blur.error {
  border: 5px solid red;
}

.action-div {
  cursor: pointer;
}

.action-opacity {
  position: relative;
}

.action-opacity .opacity-cover {
    text-align: center;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 235px;
    height: 60px;
    background-color: red;
    opacity: 0.7;
    box-shadow: 0 2px 7px #000;
}

/*

code highlight styling

*/

.hljs {
  display: block;
  overflow-x: auto;
  color: #333;
  background: #f7f7f7;
}

.hljs-comment,
.hljs-quote {
  color: #999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #1d75b3;
  font-weight: normal;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #0086b3;
  font-weight: normal;
}

.hljs-string,
.hljs-doctag {
  color: #183691;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: normal;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: normal;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: normal;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: normal;
}

.hljs-strong {
  font-weight: normal;
}
