name: Chrome Docker

on: push

jobs:
  # run Chrome inside a Docker container
  chrome:
    runs-on: ubuntu-22.04
    # https://github.com/cypress-io/cypress-docker-images
    container: cypress/browsers:node18.12.0-chrome107
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Chrome
        uses: cypress-io/github-action@v5
        timeout-minutes: 10
        with:
          build: npm run build
          start: npm start
          browser: chrome
