name: Chrome

on: [push, workflow_dispatch]

jobs:
  chrome:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - name: Chrome
        uses: cypress-io/github-action@v7
        timeout-minutes: 10
        with:
          build: npm run build
          start: npm start
          browser: chrome
